<main>
    {{> components-header }}
    {{> components-media-card-list }}

    <section class="c-designer">
        <div class="split split--designer">
            <div class="split__content">
                <header>
                    <h2 class="split__title">Designer</h2>
                </header>
                <p><span class="smallcaps">I'm a multi-disciplinary designer</span>who is always learning and seeking to improve. Multi-disciplinary allows me to plan like an engineer, create like an artist and think like a customer. My creative
                    curiosity of staying up-to-date allows me to adapt to a rapidly evolving industry without being left behind.</p>
                <p>Design really isn't just how it looks; the key to tackle a challenging problem through effective design thinking is to balance between the visual details and the usefulness it provides to the end user.</p>
            </div>
        </div>
    </section>

    <section class="c-developer">
        <div class="split split--developer">
            <div class="split__content">
                <header>
                    <h2 class="split__title">Developer</h2>
                </header>
                <p><span class="smallcaps">A brand is only as successful</span>as its implementation; great products should not be defined by design alone, but also by functionality and great user experience.</p>
                <p>However, that's just the tip of the iceberg. Code shouldn't only work, it should be easy to understand, easy to change and fun to work with. Developers need to strive for clean, elegant and efficient code to assure long-term
                    sustainability and keep software's maintainability ―which goes beyond fixing bugs as it includes the need to adapt to a continuously changing environment.</p>
            </div>
        </div>
    </section>
</main>

<footer class="c-footer">

    <div class="c-footer__content">
        <h2 class="c-footer__title">Thanks for stopping by!</h2>
        <h3 class="c-footer__subtitle">Want to chat?</h3>
        <p class="c-footer__description"> You may use the contact <a class="a-link--animate-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="form">form</a> or <a class="a-link--animate-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="e-mail me">e-mail me </a> directly. Feel free to check out my <a class="a-link--animate-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="resume">resume</a> to know more about my employment and education history.</p>
    </div>

    <div class="c-footer__copyright">
        <div class="c-footer__row">

          <div class="c-footer__column">
            <span>Made with <a class="a-link--animate-fill c-footer__link" href="https://patternlab.io/" target="_blank" data-hover="Pattern Lab">Pattern Lab</a></span>
          </div>

          <div class="c-footer__column">
            <a class="c-footer__link c-footer__link--icon far fa-envelope" href="mailto:lawrevan8484@gmail.com" target="_blank">
              <i class="far fa-envelope"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-linkedin-in" href="https://www.linkedin.com/in/larry-evans-51914749/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-codepen" href="https://codepen.io/gorillaLarry/" target="_blank">
              <i class="fab fa-codepen"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-github" href="https://github.com/lawrevan" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>

          <div class="c-footer__column">
            <span>© 2019 Larry Evans</span>
          </div>

        </div>
    </div>
</footer>
