<footer class="c-footer">

    <div class="c-footer__content">
        <h2 class="c-footer__title">Thanks for stopping by!</h2>

        <!-- <button class="a-btn a-btn--primary {{styleModifier}}">Lets Chat</button> -->

        <a href="mailto:lawrevan8484@gmail.com" class="btn btn-five" target="_blank">
            <span>Lets Chat</span>
        </a>

        <p class="c-footer__description"> Feel free to check out my <a class="animate-link-fill" href="mailto:lawrevan8484@gmail.com" data-hover="resume">resume</a> to know more about my employment and education history.</p>
    </div>
    <!-- c-footer__content -->

    <div class="c-footer__copyright">
        <div class="c-footer__row">

            <div class="c-footer__column">
                <span>Made with <a class="animate-link-fill" href="https://patternlab.io/" target="_blank" data-hover="Pattern Lab">Pattern Lab</a></span>
            </div>

            <div class="c-footer__column">
                {{> molecules-social-media}}
            </div>

            <div class="c-footer__column">
                <span>© 2019 Larry Evans</span>
                {{> atoms-scroll-up-button }}
            </div>

        </div>
        <!-- c-footer__row -->
    </div>
    <!-- c-footer__copyright -->
</footer>
<!-- c-footer -->
