<footer class="c-footer">

    <div class="c-footer__content">
        <h2 class="c-footer__title">Thanks for stopping by!</h2>
        <h3 class="c-footer__subtitle">Want to chat?</h3>
        <p class="c-footer__description"> You may use the contact <a class="animate-link-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="form">form</a> or <a class="animate-link-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="e-mail me">e-mail me </a> directly. Feel free to check out my <a class="animate-link-fill c-footer__link" href="mailto:lawrevan8484@gmail.com" data-hover="resume">resume</a> to know more about my employment and education history.</p>
    </div>
    <!-- c-footer__content -->

    <div class="c-footer__copyright">
        <div class="c-footer__row">

          <div class="c-footer__column">
            <span>Made with <a class="animate-link-fill c-footer__link" href="https://patternlab.io/" target="_blank" data-hover="Pattern Lab">Pattern Lab</a></span>
          </div>

          <div class="c-footer__column">
            <a class="c-footer__link c-footer__link--icon far fa-envelope" href="mailto:lawrevan8484@gmail.com" target="_blank">
              <i class="far fa-envelope"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-linkedin-in" href="https://www.linkedin.com/in/larry-evans-51914749/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-codepen" href="https://codepen.io/gorillaLarry/" target="_blank">
              <i class="fab fa-codepen"></i>
            </a>

            <a class="c-footer__link c-footer__link--icon fab fa-github" href="https://github.com/lawrevan" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>

          <div class="c-footer__column">
            <span>© 2019 Larry Evans</span>
          </div>

        </div>
        <!-- c-footer__row -->
    </div>
    <!-- c-footer__copyright -->
</footer>
<!-- c-footer -->
