<div class="m-product-card">
	<div class="m-product-card__wrapper">
		<div class="m-product-card__image-wrapper">
			<a href="#"><img class="m-product-card__image" src="{{imgSrc}}" alt="{{imgAlt}}"></a>
		</div>

		<div class="m-product-card__info">
			<p class="m-product-card__name"><a href="#">{{name}}</a></p>
			<p class="m-product-card__price">{{price}}</p>
			<span class="m-product-card__rating">{{> atoms-star-rating}}</span>
		</div>
	</div>
</div>
