<div class="m-mini-cart-card">
	<div class="m-mini-cart-card__image-wrapper">
		<a href=""><img class="m-mini-cart-card__image" src="{{imgSrc}}" alt="{{imgAlt}}"></a>
	</div>

	<div class="m-mini-cart-card__info">
		<p class="m-mini-cart-card__name"><a href="#">{{name}}</a></p>
		<p class="m-mini-cart-card__price">{{price}}</p>
		<p class="m-mini-cart-card__quantity">
			Quantity: {{> atoms-text-input}}
			<span class="m-mini-cart-card__update-btn">{{> atoms-text-button}}</span>
		</p>
	</div>
</div>
