<span class="a-icon">
	<span class="icon-star a-icon__icon"></span><span class="a-icon__name">icon-star</span>
</span>

<span class="a-icon">
	<span class="icon-expand a-icon__icon"></span><span class="a-icon__name">icon-expand</span>
</span>

<span class="a-icon">
	<span class="icon-collapse a-icon__icon"></span><span class="a-icon__name">icon-collapse</span>
</span>

<span class="a-icon">
	<span class="icon-check a-icon__icon"></span><span class="a-icon__name">icon-check</span>
</span>

<span class="a-icon">
	<span class="icon-chevron-down a-icon__icon"></span><span class="a-icon__name">icon-chevron-down</span>
</span>

<span class="a-icon">
	<span class="icon-facebook a-icon__icon"></span><span class="a-icon__name">icon-facebook</span>
</span>

<span class="a-icon">
	<span class="icon-instagram a-icon__icon"></span><span class="a-icon__name">icon-instagram</span>
</span>

<span class="a-icon">
	<span class="icon-pinterest a-icon__icon"></span><span class="a-icon__name">icon-pinterest</span>
</span>

<span class="a-icon">
	<span class="icon-arrow-down a-icon__icon"></span><span class="a-icon__name">icon-arrow-down</span>
</span>

<span class="a-icon">
	<span class="icon-arrow-left a-icon__icon"></span><span class="a-icon__name">icon-arrow-left</span>
</span>

<span class="a-icon">
	<span class="icon-arrow-right a-icon__icon"></span><span class="a-icon__name">icon-arrow-right</span>
</span>

<span class="a-icon">
	<span class="icon-arrow-up a-icon__icon"></span><span class="a-icon__name">icon-arrow-up</span>
</span>

<span class="a-icon">
	<span class="icon-download a-icon__icon"></span><span class="a-icon__name">icon-download</span>
</span>

<span class="a-icon">
	<span class="icon-search a-icon__icon"></span><span class="a-icon__name">icon-search</span>
</span>
