<div class="m-stars">
  <div class="m-stars__star m-stars__star--1"></div>
  <div class="m-stars__star m-stars__star--2"></div>
  <div class="m-stars__star m-stars__star--3"></div>
</div>
<!-- m-stars -->

<div class='m-stars__content'>
  <h1 class="m-stars__headline">
    Larry Evans
    <span>Front End Web Developer</span>
  </h1>

  {{> molecules-nav }}

  {{> atoms-scroll-down-button }}

</div>
<!-- m-stars__content -->
