<div class="m-stars">
    <div class="m-stars__star m-stars__star--1"></div>
    <div class="m-stars__star m-stars__star--2"></div>
    <div class="m-stars__star m-stars__star--3"></div>

    {{> molecules-about }}
</div>
<!-- m-stars -->

<div class='m-stars__content'>
    <div class="m-stars__wrapper">
      <h1 class="m-stars__headline">
          <section class="">
            Larry Evans
            <span>Front End Web Developer</span>
        </section>
      </h1>

      {{> molecules-nav }}

      {{> atoms-scroll-down-button }}
    </div>
</div>
<!-- m-stars__content -->
