<div class="m-hero-block m-hero-block--middle m-hero-block--center m-hero-block--stars">

  <div class="m-hero-block__stars m-hero-block__stars--1"></div>
  <div class="m-hero-block__stars m-hero-block__stars--2"></div>
  <div class="m-hero-block__stars m-hero-block__stars--3"></div>

  <div class='m-hero-block__content'>
    <h1 class="m-hero-block__headline">
      Larry Evans
      <span>Front End Web Developer</span>
    </h1>
    <!-- <p class="m-hero-block__description">Description</p> -->

    {{> molecules-nav }}

    {{> atoms-scroll-down-button }}

  </div>
  <!-- m-hero-block__content -->
</div>
<!-- m-hero-block--stars -->
