.m-media-card {

	&__image-wrapper {
		margin: 0 0 20px 0;
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__content {
		
	}

	&__headline {
		@extend %heading5;
	}

	&__description {

	}

	&__cta {
		
	}
}
