.m-textarea {
	label {
		@include fontSize(14px, 16px, 18px);
		display: inline-block;
		line-height: 1.2;
		font-weight: $font-weight-bold;
		color: $color-secondary;
		padding-bottom: 5px;
	}

	.a-textarea {
		display: block;
	}
}
