<section class="c-work-list">
    <div class="c-work-list__container">
        <h2 class="c-work-list__title">Previous Work List</h2>
        <ul class="c-work-list__list">
            <li class="c-work-list__item">
                <a class="c-work-list__link animate-link-fill" href="" target="_blank" data-hover="Example Website">Example Website</a>
            </li>
            <li class="c-work-list__item">
                <a class="c-work-list__link animate-link-fill" href="" target="_blank">Example Website</a>
            </li>
        </ul>
        <!-- c-work-list__list -->
    </div>
    <!-- c-work-list__container -->
</section>
<!-- c-work-list -->
