<section class="c-parallax-bgs c-parallax-bgs--top">
    <div class="c-parallax-bgs__split">
        <div class="c-parallax-bgs__content">
            <header>
                <h2 class="c-parallax-bgs__title" data-aos="a-fade-in-up" data-aos-duration="1000">About</h2>
            </header>
            <p class="c-parallax-bgs__description" data-aos="tilt-fade-in-up" data-aos-duration="1000">I'm a multi-disciplinary designer who is always learning and seeking to improve. Multi-disciplinary allows me to plan like an engineer, create like
                an artist and think like a customer. My creative
                curiosity of staying up-to-date allows me to adapt to a rapidly evolving industry without being left behind.</p>
            <p class="c-parallax-bgs__description" data-aos="tilt-fade-in-up" data-aos-duration="1000">Design really isn't just how it looks; the key to tackle a challenging problem through effective design thinking is to balance between the visual
                details and the usefulness it provides to the end
                user.</p>
        </div>
        <!-- c-parallax-bgs__content -->
    </div>
    <!-- c-parallax-bgs__split -->
</section>
<!-- c-parallax-bgs--top -->
<section class="c-parallax-bgs c-parallax-bgs--bottom">
    <div class="c-parallax-bgs__split">
        <div class="c-parallax-bgs__content">
            <header>
                <h2 class="c-parallax-bgs__title" data-aos="a-fade-in-up" data-aos-duration="1000">Skills</h2>
            </header>

            <div class="m-grid m-grid--skills">
                <div class="m-grid__column" data-aos="fade-in-up">
                    <h3 class="m-grid__title">Languages</h3>
                    <ul class="m-grid__list">
                        <li class="m-grid__list-item">HTML5</li>
                        <li class="m-grid__list-item">CSS3, SCSS, LESS</li>
                        <li class="m-grid__list-item">JavaScript (ES6)</li>
                        <li class="m-grid__list-item">Mustache</li>
                        <li class="m-grid__list-item">JSON</li>
                    </ul>
                </div>
                <div class="m-grid__column" data-aos="fade-in-up">
                    <h3 class="m-grid__title">Methods &amp; Tools</h3>
                    <ul class="m-grid__list">
                        <li class="m-grid__list-item">BEM, OOCSS</li>
                        <li class="m-grid__list-item">Atomic Design</li>
                        <li class="m-grid__list-item">Webpack, Gulp</li>
                        <li class="m-grid__list-item">Pattern Lab</li>
                        <li class="m-grid__list-item">NPM, Node.js</li>
                        <li class="m-grid__list-item">Git</li>
                    </ul>
                </div>
                <div class="m-grid__column" data-aos="fade-in-up">
                    <h3 class="m-grid__title">Frameworks &amp; Libs</h3>
                    <ul class="m-grid__list">
                        <li class="m-grid__list-item">React, jQuery</li>
                        <li class="m-grid__list-item">Bootstrap</li>
                        <li class="m-grid__list-item">HubSpot</li>
                        <li class="m-grid__list-item">Light CMS</li>
                        <li class="m-grid__list-item">Business Catalyst</li>
                        <li class="m-grid__list-item">Wordpress</li>
                    </ul>
                </div>
                <div class="m-grid__column" data-aos="fade-in-up">
                    <h3 class="m-grid__title">Additional</h3>
                    <ul class="m-grid__list">
                        <li class="m-grid__list-item">Responsive Web Design</li>
                        <li class="m-grid__list-item">Google Tag Manager</li>
                        <li class="m-grid__list-item">Google Analytics</li>
                        <li class="m-grid__list-item">Sketch, Photoshop</li>
                        <li class="m-grid__list-item">Invision</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- c-parallax-bgs__content -->
    </div>
    <!-- c-parallax-bgs__split -->
</section>
<!-- c-parallax-bgs--bottom -->

<div class='c-contact'></div>
