.c-parallax-bgs {
    $this: &;
    min-height: 700px;
    height: 100%;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 375px auto;
    background-position: center center;

    &__split {
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
    }

    &__content {
        max-width: calculateRem(600px);
        margin: 0 auto;
        height: auto;
        // background: rgba(26,26,26, 0.25);
        width: 80%;
    }

    &__title {
        margin-bottom: 35px
    }

    &__description {
        color: $color-white;
        margin-bottom: 30px;
    }

    &--top {
        background-image: url("../../assets/images/parallax/p1.png");
        background-color: $color-brand-secondary;
    }

    &--bottom {
        background-image: url("../../assets/images/parallax/p2.png");
        background-color: $color-brand-primary;
    }
}
@media (min-width: $bp-tablet) {
    .c-parallax-bgs {
        height: 100vh;
        min-height: 800px;
        background-size: 560px auto;

        &__content {
            align-self: center;
        }
    }
}
@media (min-width: $bp-desktop-sm) {
    .c-parallax-bgs {
        $this: &;
        background-size: 815px auto;
        background-position: center center;

        &__content {
            background: transparent;
        }

        &--top {
            #{$this}__split {
                float: right;
                background: rgba(26,26,26, 0.55);
            }
        }

        &--bottom {
            #{$this}__split {
                float: left;
                background: rgba(16,16,16,.55);
            }
        }
    }
}

@media (min-width: $lg) {
.c-parallax-bgs {
        &__split {
            width: 50%;
        }
    }
}
