<section class="c-parallax-bgs c-parallax-bgs--top">
    <div class="c-parallax-bgs__split">
        <div class="c-parallax-bgs__content">
            <header>
                <h2 class="c-parallax-bgs__title">Designer</h2>
            </header>
            <p class="c-parallax-bgs__description">I'm a multi-disciplinary designer who is always learning and seeking to improve. Multi-disciplinary allows me to plan like an engineer, create like an artist and think like a customer. My creative
                curiosity of staying up-to-date allows me to adapt to a rapidly evolving industry without being left behind.</p>
            <p class="c-parallax-bgs__description">Design really isn't just how it looks; the key to tackle a challenging problem through effective design thinking is to balance between the visual details and the usefulness it provides to the end
                user.</p>
        </div>
        <!-- c-parallax-bgs__content -->
    </div>
    <!-- c-parallax-bgs__split -->
</section>
<!-- c-parallax-bgs--top -->
<section class="c-parallax-bgs c-parallax-bgs--bottom">
    <div class="c-parallax-bgs__split">
        <div class="c-parallax-bgs__content">
            <header>
                <h2 class="c-parallax-bgs__title">Developer</h2>
            </header>
            <p class="c-parallax-bgs__description">A brand is only as successful as its implementation; great products should not be defined by design alone, but also by functionality and great user experience.</p>
            <p class="c-parallax-bgs__description">However, that's just the tip of the iceberg. Code shouldn't only work, it should be easy to understand, easy to change and fun to work with. Developers need to strive for clean, elegant and
                efficient code to assure long-term
                sustainability and keep software's maintainability ―which goes beyond fixing bugs as it includes the need to adapt to a continuously changing environment.</p>
        </div>
        <!-- c-parallax-bgs__content -->
    </div>
    <!-- c-parallax-bgs__split -->
</section>
<!-- c-parallax-bgs--bottom -->

<div class='c-contact'></div>
