<div class="t-homepage">

	{{> components-header }}

  {{> molecules-hero-block-stars }}

  {{> components-parallax-bgs }}

  {{> components-footer }}

  <button class="a-btn a-btn--scroll-up" type="button" onclick="zenscroll.to(document.querySelector('.t-homepage'), 1750)">&#8679;</button>
</div>
<!-- t-homepage -->
