<div class="t-homepage">

	{{> components-header }}

  {{> components-about }}

  {{> components-parallax-bgs }}

  <!-- {{> components-banner-scroll }} -->

  <!-- {{> components-contact }} -->

  {{> components-footer }}

</div>
<!-- t-homepage -->
