.t-homepage {
  position: relative;
  z-index: $z-index-base;
  height: auto;
  min-height: 100vh;
  margin-bottom: 41rem;
  background: $color-brand-primary;
}

@media (min-width: $bp-tablet) {
  .t-homepage {
    margin-bottom: 35rem;
  }
}

[data-aos="fade-in"] {
    transition-delay: 3s;
}
