<div class="m-color-swatch" style="background:{{color-hex}}">
    <div class="m-color-swatch__tooltip a-tooltip">
        <div class="m-color-swatch__tooltip-swatch" style="background:{{color-hex}}"></div>
        <span class="m-color-swatch__tooltip-name">{{color-name}}</span>
    </div>
</div>