.pl-c-tabs__list-item,
.pl-c-text-passage ul li {
    padding: 0;

    &:before {
        content: '';
    }
}
// STYLE GUIDE SPECIFIC
// Atoms
#atoms-chevron-down,
#atoms-chevron-up,
#atoms-scroll-down-button,
#atoms-scroll-up-button {
    [class^="a-chevron"] {
        position: relative;

        &:after,
        &:before {
            background: $color-black;
        }
    }
}

#atoms-work-logo {
    .a-logo-work {
        filter: invert(1) hue-rotate(210deg);

        &--white {
            filter: none;
        }
    }
}
// Molecules

#molecules-nav {
    .m-nav {
        position: relative;
        background: $color-brand-primary;
        opacity: 1;
    }
}

#molecules-nav-toggle {
    .m-nav-toggle {
        display: block;
        position: relative;

        &__item {
            background-color: #000;
        }
    }
}
// Components
#components-footer {
    .c-footer {
        position: relative;
    }
}
