<section class="c-banner-scroll">
    <div class="c-banner-scroll__container" data-block="banner-scroll">
        <h2 class="c-banner-scroll__header">
            <span class="shade" style="height: auto;"></span>
            <!-- <img src="../../assets/images/script-love-pink.svg" alt="Love"> <span>Recent Work</span> -->
            <span>Recent Work</span>
        </h2>

        <div class="c-banner-scroll__item" id="content1">
            <div class="c-banner-scroll__item-background">
                <img class="" src="../../assets/images/banners/joyome-bottle.jpg">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner">
                    <h3 class="c-banner-scroll__item-title">Bye, bye visible signs of aging</h3>
                    <p class="c-banner-scroll__item-description">Joyōme features clinically-studied levels of 11 multi-active, powerful ingredients, each handpicked for their scientifically-demonstrated effectiveness, bioavailability and safety.</p>
                    <a data-hover="Explore Joyōme’s ingredients" class="animate-link-fill" href="#">Explore Joyōme’s ingredients</a>
                </div>

            </div>
        </div>
        <div class="c-banner-scroll__item" id="content2">
            <div class="c-banner-scroll__item-background">
                <img class="" src="../../assets/images/banners/woman-portrait-purple.jpg">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner">
                    <h3 class="c-banner-scroll__item-title">Free to be</h3>
                    <p class="c-banner-scroll__item-description">Plexus’ Joyōme duo corrects the signs of aging with highly bioavailable, non-irritating ingredients but, because of our commitment to safety, we took it a step further. Joyōme is also
                        100% free of harmful
                        chemicals and annoying irritants, leaving you with nothing but high-performance, indulgent skincare.</p>
                    <a data-hover="Our Consciously Clean Promise" class="animate-link-fill" href="#">Our Consciously Clean Promise</a>
                </div>

            </div>
        </div>
        <div class="c-banner-scroll__item" id="content3">
            <div class="c-banner-scroll__item-background">
                <img class="" src="../../assets/images/banners/woman-portrait-blue.jpg">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner">
                    <h3 class="c-banner-scroll__item-title">Go deep</h3>
                    <p class="c-banner-scroll__item-description">Joyōme’s first-to-market, patented delivery system enhances the absorption rate of the good stuff, so you can say hello to benefits. Consider clinically demonstrated, multi-active
                        ingredients, delivered.</p>
                    <a data-hover="Learn More" class="animate-link-fill" href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="c-banner-scroll__item" id="content4">
            <div class="c-banner-scroll__item-background">
                <img class="" src="../../assets/images/banners/joyome-bottle.jpg">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner">
                    <h3 class="c-banner-scroll__item-title">Bye, bye visible signs of aging</h3>
                    <p class="c-banner-scroll__item-description">Joyōme features clinically-studied levels of 11 multi-active, powerful ingredients, each handpicked for their scientifically-demonstrated effectiveness, bioavailability and safety.</p>
                    <a data-hover="Explore Joyōme’s ingredients" class="animate-link-fill" href="#">Explore Joyōme’s ingredients</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- c-banner-scroll -->
