<section class="c-banner-scroll">
    <div class="c-banner-scroll__container" data-block="banner-scroll">
        <h2 class="c-banner-scroll__header" data-aos="a-fade-in-up">
            <span class="shade"></span>
            <span>Recent Work</span>
        </h2>

        <div class="c-banner-scroll__item" id="content1">
            <div class="c-banner-scroll__item-background">
                <img data-aos="" class="c-banner-scroll__img c-banner-scroll__img--mac-tilt" src="../../assets/images/work/joyome.png" alt="Joyome">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner" data-aos="">

                    <h3 class="c-banner-scroll__item-title">
                        <a href="https://joyomeskincare.com/">
                            <img class="a-logo-work a-logo-work--white a-logo-work--joyome" src="../../assets/images/work/joyome-logo.svg">
                        </a>
                    </h3>

                    <p class="c-banner-scroll__item-description">Joyōme features clinically-studied levels of 11 multi-active, powerful ingredients, each handpicked for their scientifically-demonstrated effectiveness, bioavailability and safety.</p>
                    <a data-hover="Visit Site" target="_blank" class="animate-link-fill" href="https://joyomeskincare.com/">Visit Site</a>
                </div>
            </div>
            <!-- c-banner-scroll__content -->
        </div>
        <!-- c-banner-scroll__item -->
        <div class="c-banner-scroll__item" id="content2">
            <div class="c-banner-scroll__item-background">
                <img data-aos="" class="c-banner-scroll__img" src="../../assets/images/work/bedstu.jpg" alt="Bed Stu">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner" data-aos="">

                    <h3 class="c-banner-scroll__item-title">
                        <a href="https://www.bedstu.com/">
                            <img class="a-logo-work a-logo-work--white a-logo-work--bedstu" src="../../assets/images/work/bedstu-logo.png" alt="Bed Stu">
                        </a>
                    </h3>

                    <p class="c-banner-scroll__item-description">Joyōme’s first-to-market, patented delivery system enhances the absorption rate of the good stuff, so you can say hello to benefits. Consider clinically demonstrated, multi-active
                        ingredients, delivered.</p>
                    <a data-hover="Visit Site" target="_blank" class="animate-link-fill" href="https://www.bedstu.com/">Visit Site</a>
                </div>
            </div>
            <!-- c-banner-scroll__content -->
        </div>
        <!-- c-banner-scroll__item -->
        <div class="c-banner-scroll__item" id="content3">
            <div class="c-banner-scroll__item-background">
                <img data-aos="" class="c-banner-scroll__img c-banner-scroll__img--mac-tilt" src="../../assets/images/work/gates.png" alt="Gates">
            </div>
            <div class="c-banner-scroll__item-content">
                <div class="c-banner-scroll__item-inner" data-aos="">

                    <h3 class="c-banner-scroll__item-title">
                        <a href="https://www.gates.com/">
                            <img class="a-logo-work a-logo-work--gates" src="../../assets/images/work/gates-logo.svg" alt="Gates">
                        </a>
                    </h3>

                    <p class="c-banner-scroll__item-description">Joyōme’s first-to-market, patented delivery system enhances the absorption rate of the good stuff, so you can say hello to benefits. Consider clinically demonstrated, multi-active
                        ingredients, delivered.</p>
                    <a data-hover="Visit Site" target="_blank" class="animate-link-fill" href="https://www.gates.com/">Visit Site</a>
                </div>
            </div>
            <!-- c-banner-scroll__content-->
        </div>
    </div>
    <!-- c-banner-scroll__container -->
</section>
<!-- c-banner-scroll -->
