<a href="https://joyomeskincare.com/">
	<img class="a-logo-work a-logo-work--white a-logo-work--joyome" src="../../assets/images/work/joyome-logo.svg">
</a>

<a href="https://www.bedstu.com/">
	<img class="a-logo-work a-logo-work--white a-logo-work--bedstu" src="../../assets/images/work/bedstu-logo.png" alt="Bed Stu">
</a>


<a href="https://www.gates.com/">
	<img class="a-logo-work a-logo-work--gates" src="../../assets/images/work/gates-logo.svg" alt="Gates">
</a>
