.c-about {
  background: $color-brand-primary;
  
  &__wrapper {
    @extend %container;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__headline {
    text-align: center;
  }

  &__description {
    text-align: center;
    color: $color-white;
  }
}
