<div class="c-about">
    {{> molecules-star-wars }}
    <a href="#" class="close-button c-about__btn-close">
    <div class="in">
      <div class="close-button-block"></div>
      <div class="close-button-block"></div>
    </div>
    <div class="out">
      <div class="close-button-block"></div>
      <div class="close-button-block"></div>
    </div>
  </a>
</div>
