.a-btn--scroll-up {
  width: 25px;
  height: 25px;
  padding: 0;
  transform: rotate(180deg);
  position: absolute;
  right: 10px;
  top: 80%;
}

@media (min-width: $bp-tablet) {
  .a-btn--scroll-up {
    position: relative;
    margin-left: 30px;
    top: 30px;
    right: 0;
  }
}
