.a-btn--scroll-up{
    width:48px;
    height:48px;
    padding:0;
    border-radius:50%;
    background: $color-primary;
    border:none;
    text-align:center;
    color: $color-white;
    transition: box-shadow 0.3s ease;
    
    &:hover{
        box-shadow: 1px 5px 5px rgba($color-black, 0.2);
    }
}