<button class="a-btn a-btn--menu a-btn--menu-1" type="button" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>

<button class="a-btn a-btn--menu a-btn--menu-2" type="button" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
</button>

<button class="a-btn a-btn--menu a-btn--menu-3" type="button" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>

<button class="a-btn a-btn--menu a-btn--menu-4" type="button" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
</button>
