<div class="m-pagination">
    <a href="#" class="m-pagination__prev m-pagination__prev--disabled">&laquo;</a>
    <ul class="m-pagination__numbers">
        <li class="m-pagination__number m-pagination__number--current"><a href="#">1</a></li>
        <li class="m-pagination__number"><a href="#">2</a></li>
        <li class="m-pagination__number"><a href="#">3</a></li>
        <li class="m-pagination__number"><a href="#">4</a></li>
    </ul>
    <a href="#" class="m-pagination__next">&raquo;</a>
</div>