<nav class="m-nav">
  <ul class="m-nav__list">
    {{#navigation}}
      <li class="m-nav__item">
        <a class="m-nav__link {{modifier}} animate-link-fill" href="" data-hover="{{level-1}}">{{level-1}}</a>
      </li>
    {{/navigation}}
  </ul>

  {{> molecules-social-media }}
</nav>
<!-- m-nav -->
