<nav class="m-nav">
  <ul class="m-nav__list">
    {{#navigation}}
      <li class="m-nav__item">
        <a class="m-nav__link" href="{{href}}"><span>{{level-1}}</span></a>
      </li>
    {{/navigation}}
  </ul>
</nav>
