<nav class="m-nav">
  {{> molecules-logo-link }}
  <ul class="m-nav__list">
    {{#navigation}}
      <li class="m-nav__item">
        <a class="m-nav__link a-link--animate-fill" href="{{href}}" data-hover="{{level-1}}"><span>{{level-1}}</span></a>
      </li>
    {{/navigation}}
  </ul>
</nav>
