<button class="m-nav-toggle" type="button">
    <ul class="m-nav-toggle__list">
        <li class="m-nav-toggle__item"></li>
        <li class="m-nav-toggle__item"></li>
    </ul>
</button>
<!--m-nav-toggle-->
