<div class="m-social-icons">
  <a class="m-social-icons__link far fa-envelope" href="mailto:lawrevan8484@gmail.com" target="_blank">
    <i class="far fa-envelope"></i>
  </a>

  <a class="m-social-icons__link fab fa-linkedin-in" href="https://www.linkedin.com/in/larry-evans-51914749/" target="_blank">
    <i class="fab fa-linkedin-in"></i>
  </a>

  <a class="m-social-icons__link fab fa-codepen" href="https://codepen.io/gorillaLarry/" target="_blank">
    <i class="fab fa-codepen"></i>
  </a>

  <a class="m-social-icons__link fab fa-github" href="https://github.com/lawrevan" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</div>
<!-- m-social-icons -->
