.m-breadcrumb {

	&__item {
		display: inline-block;
		padding: 0;

		a {
			@include fontSize(12px, 14px, 14px);
			font-family: $font-family-primary;
			line-height: 20px;
			text-decoration: none;
			color: $color-gray;

			&:hover {
				text-decoration: underline;
			}
		}

		&:before {
			display: none;
		}

		&:after {
			content: '\7C';
			display: inline-block;
			padding: 0 10px;
		}

		&:last-child {
			font-weight: $font-weight-bold;

			&:after {
				display: none;
			}
		}
	}
}
