<div class="m-about">
    {{> molecules-star-wars }}
    <a href="#" class="m-about__close">
        <div class="m-about__close-top">
            <div class="m-about__close-block"></div>
            <div class="m-about__close-block"></div>
        </div>
        <div class="m-about__close-bottom">
            <div class="m-about__close-block"></div>
            <div class="m-about__close-block"></div>
        </div>
    </a>
    <!-- m-about__close -->
    <div class="m-about__banner">
        <p class="m-about__content">
            Click to Pause
        </p>
    </div>
    <!-- m-about__banner -->
</div>
<!-- m-about -->
