<div class="a-star-rating">
	<div class="a-star-rating__placeholder">
		<span class="a-star-rating__rating" style="width: calc(({{rating}}/5) * 100%)"></span>
	</div>

	{{#ratingCount}}
		<a class="a-star-rating__count" href="#"><span>({{ratingCount}})</span></a>
	{{/ratingCount}}
</div>