.m-star-wars {
  position: absolute;
  height: 100vh;
  padding: 10px;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  color: $color-primary;
  perspective: 60px;
  perspective-origin: center 0;
  letter-spacing: 1px;
  text-shadow: 0 0 1px $color-primary;
  text-align: center;
  width: 50%;
  margin: 0 auto;

  &__content {
      animation: none;
      opacity: 0;
      font-size: 30px;
      line-height: 35px;
      cursor: default;
      width: 45%;
      margin: 0 auto;
  }
}
