<div class="m-star-wars">
    <div class="m-star-wars__content">
        Larry Evans
        <span>Front End Web Developer</span>
        <p>I'm a multi-disciplinary designer who is always learning and seeking to improve. Multi-disciplinary allows me to plan like an engineer, create like
        an artist and think like a customer. My creative
        curiosity of staying up-to-date allows me to adapt to a rapidly evolving industry without being left behind.</p>
      <p>Design really isn't just how it looks; the key to tackle a challenging problem through effective design thinking is to balance between the visual
          details and the usefulness it provides to the end
          user.</p>
    </div>
</div>
