<div class="m-grid">
    <div class="m-grid__column" data-aos="fade-in-up">
        <h3 class="m-grid__title">Languages</h3>
        <ul class="m-grid__list">
            <li class="m-grid__list-item">HTML5</li>
            <li class="m-grid__list-item">CSS3, SCSS, LESS</li>
            <li class="m-grid__list-item">JavaScript (ES6)</li>
            <li class="m-grid__list-item">Mustache</li>
            <li class="m-grid__list-item">JSON</li>
        </ul>
    </div>
    <!-- m-grid__column -->
    <div class="m-grid__column" data-aos="fade-in-up">
        <h3 class="m-grid__title">Methods &amp; Tools</h3>
        <ul class="m-grid__list">
            <li class="m-grid__list-item">BEM, OOCSS</li>
            <li class="m-grid__list-item">Atomic Design</li>
            <li class="m-grid__list-item">Webpack, Gulp</li>
            <li class="m-grid__list-item">Pattern Lab</li>
            <li class="m-grid__list-item">NPM, Node.js</li>
            <li class="m-grid__list-item">Git</li>
        </ul>
    </div>
    <!-- m-grid__column -->
    <div class="m-grid__column" data-aos="fade-in-up">
        <h3 class="m-grid__title">Frameworks &amp; Libs</h3>
        <ul class="m-grid__list">
            <li class="m-grid__list-item">React, jQuery</li>
            <li class="m-grid__list-item">Bootstrap</li>
            <li class="m-grid__list-item">HubSpot</li>
            <li class="m-grid__list-item">Light CMS</li>
            <li class="m-grid__list-item">Business Catalyst</li>
            <li class="m-grid__list-item">Wordpress</li>
        </ul>
    </div>
    <!-- m-grid__column -->
    <div class="m-grid__column" data-aos="fade-in-up">
        <h3 class="m-grid__title">Additional</h3>
        <ul class="m-grid__list">
            <li class="m-grid__list-item">Responsive Web Design</li>
            <li class="m-grid__list-item">Google Tag Manager</li>
            <li class="m-grid__list-item">Google Analytics</li>
            <li class="m-grid__list-item">Sketch, Photoshop</li>
            <li class="m-grid__list-item">Invision</li>
        </ul>
    </div>
    <!-- m-grid__column -->
</div>
<!-- m-grid -->
