
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Vendor Scripts -->

  <!-- Banner Scroll -->
  <script type="text/javascript" src="../../assets/scripts/vendor/class.js"></script>
  <script type="text/javascript" src="../../assets/scripts/vendor/respond.to.js"></script>
  <script type="text/javascript" src="../../assets/scripts/vendor/utilities.js"></script>
  
  <script type="text/javascript" src="../../assets/scripts/vendor/picturefill.min.js"></script>
  <script type="text/javascript" src="../../assets/scripts/vendor/zenscroll.js"></script>
  <script type="text/javascript" src="../../assets/scripts/vendor/mediaCheck-min.js"></script>


  <script type="text/javascript" src="../../assets/scripts/vendor.js?{{cacheBuster}}"></script>
  <script type="text/javascript" src="../../assets/scripts/app.js?{{cacheBuster}}"></script>
  </body>
</html>
