<div class="m-figure-container">
  <figure class="m-figure m-figure--mobile-bg">
    <!-- <img class="m-figure__img" src="https://unsplash.imgix.net/photo-1428930377079-45a584b6dd6b?dpr=2&fit=crop&fm=jpg&h=1575&q=75&w=1050" alt="Larry Evans' Portfolio"> -->
    <img class="m-figure__img" src="../../assets/images/home/headshot.JPG" alt="Larry Evans' Portfolio">
    <figcaption class="m-figure__caption">
      <span class="m-figure__description">Front End Web Developer</span>
      <h1 class="m-figure__title">Larry Evans</h1>
    </figcaption>
  </figure>
</div>
<!--m-figure-container-->
